# Data Cleaning and Preprocessing

## Loading the Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.cm as cm

/home/amy/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [2]:
data_df = pd.read_csv('/home/amy/work/RIT/TDess/DSCI-601-Amy/Data/Combined/combined_AAPL.csv')

In [3]:
data_df

,date,RET,VOL_CHANGE,BA_SPREAD,ILLIQUIDITY,sprtrn,TURNOVER,DJI_Return
0,1/2/1992,0.055432,0.717745,0.008403,4.510000e-10,0.000408,17.419850,0.000000
1,1/3/1992,-0.008403,-0.172890,0.004237,-8.340000e-11,0.004985,14.408127,0.009173
2,1/6/1992,-0.016949,-0.399632,0.004310,-2.850000e-10,-0.003291,8.650181,-0.000437
3,1/7/1992,0.019397,0.237283,0.004228,2.590000e-10,-0.001340,10.702726,0.001469
4,1/8/1992,0.023256,0.645321,0.004132,1.840000e-10,0.001677,17.609419,-0.000281
...,...,...,...,...,...,...,...,...
7804,12/23/2022,-0.002798,-0.181476,0.000076,-3.330000e-13,0.005868,4.008909,0.005342
7805,12/27/2022,-0.013878,0.081093,0.000231,-1.550000e-12,-0.004050,4.334004,0.001133
7806,12/28/2022,-0.030685,0.238299,0.000079,-2.850000e-12,-0.012021,5.366792,-0.011006
7807,12/29/2022,0.028324,-0.115337,0.000231,2.890000e-12,0.017461,4.747802,0.010497
7808,12/30/2022,0.002469,0.019326,0.000231,2.470000e-13,-0.002541,4.859630,-0.002214

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7809 entries, 0 to 7808
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         7809 non-null   object
 1   RET          7809 non-null   float64
 2   VOL_CHANGE   7809 non-null   float64
 3   BA_SPREAD    7809 non-null   float64
 4   ILLIQUIDITY  7809 non-null   float64
 5   sprtrn       7809 non-null   float64
 6   TURNOVER     7809 non-null   float64
 7   DJI_Return   7809 non-null   float64
dtypes: float64(7), object(1)
memory usage: 488.2+ KB

### Changing the date column to timestamp

In [5]:
data_df['date'] = pd.to_datetime(data_df['date'])

#### Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler()
data_df[['RET', 'VOL_CHANGE', 'BA_SPREAD', 'ILLIQUIDITY', 'sprtrn', 'TURNOVER', 'DJI_Return']] = scaler.fit_transform(data_df[['RET', 'VOL_CHANGE', 'BA_SPREAD', 'ILLIQUIDITY', 'sprtrn', 'TURNOVER', 'DJI_Return']])

#### Method 1: Statistical Rule (Z-Score)
- One common method to identify outliers is using the Z-score, which measures the number of standard deviations a data point is from the mean. Data points that are too far from the mean can be considered outliers. Typically, for example a threshold of Z > 3 or Z < -3 is used (i.e., data points that are more than 3 standard deviations away from the mean). Learned this in applied stats!

In [ ]:

import pandas as pd
import numpy as np

# cleaning the 'RET' column
mean_ret = data_df['RET'].mean()
std_ret = data_df['RET'].std()
threshold = 3

# Finding outliers
outliers = data_df[(np.abs((data_df['RET'] - mean_ret) / std_ret) > threshold)]

# Dropping outliers
df_cleaned = data_df[(np.abs((data_df['RET'] - mean_ret) / std_ret) <= threshold)]

In [ ]:
df_cleaned

,date,RET,VOL_CHANGE,BA_SPREAD,ILLIQUIDITY,sprtrn,TURNOVER,DJI_Return
0,1992-01-02,0.67,0.09,0.58,0.54,0.51,0.04,0.53
1,1992-01-03,0.60,0.04,0.44,0.44,0.53,0.03,0.57
2,1992-01-06,0.59,0.03,0.44,0.41,0.49,0.02,0.53
3,1992-01-07,0.63,0.06,0.44,0.51,0.50,0.02,0.54
4,1992-01-08,0.64,0.09,0.44,0.49,0.52,0.04,0.53
...,...,...,...,...,...,...,...,...
7804,2022-12-23,0.61,0.04,0.31,0.46,0.53,0.01,0.55
7805,2022-12-27,0.59,0.06,0.31,0.46,0.49,0.01,0.54
7806,2022-12-28,0.57,0.07,0.31,0.46,0.46,0.01,0.49
7807,2022-12-29,0.64,0.04,0.31,0.46,0.58,0.01,0.58
7808,2022-12-30,0.61,0.05,0.31,0.46,0.50,0.01,0.52